body {
    margin: 0;
    padding: 0;
    padding-bottom: 50px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

p,
div {
    padding: 0;
    margin: 0;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    gap: 50px;
}

#canvas {
    border: 2px solid black;
    border-radius: 20px;
}

#canvas-components {
    display: block;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 20px;
}

.matrix__wrapper {
    min-width: 600px;
}

.matrix {
    padding: 15px;
    padding: 10px 0;
}

.title {
    font-size: 28px;
    color: black;
    text-align: center;
}

.matrix-list {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: auto;
    margin-top: 5px;
    border: 1px solid rgb(108, 108, 108);
    padding: 10px;
}

.item {
    width: 20px;
    text-align: center;
}

.btn {
    margin: auto;
    background-color: transparent;
    border: 1px solid rgb(20, 20, 20);
    border-radius: 5px;
    font-size: 20px;
    padding: 10px 20px;
    cursor: pointer;
    width: fit-content;
    display: block;
    margin-top: 10px;
}

.btn:hover {
    background-color: #efefef;
}

/* main */

main {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.main__title {
    text-align: center;
    font-size: 42px;
    color: black;
    margin: 0;
    padding: 0 0 40px 0;
}
.main__subtitle {
    font-size: 28px;
    color: rgb(55, 55, 55);
    padding: 10px 0;
    margin: 0;
}

/* table */

.tables {
    display: flex;
    gap: 20px;
    justify-content: center;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 460px;
    height: fit-content;
}
caption {
    font-size: 22px;
    padding-bottom: 10px;
}

td,
th {
    border: 1px solid black;
    text-align: center;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.extra-matrix__wrapper {
    display: flex;
    gap: 30px;
}

.strong-components-list {
    background-color: #eae9e9;
    padding: 10px;
    border: 1px solid rgb(55, 55, 55);
}

.component {
    font-size: 20px;
    color: black;
    padding: 10px 0;
}

.canva-wrapper {
    position: relative;
}

.next-btn,
.createdfs-btn,
.createbfs-btn,
.createSkelet-btn {
    position: absolute;
    transform: translate(-50%, 50%);
    border: 1px solid black;
    border-radius: 20px;
    min-width: 150px;
    font-size: 20px;
    padding: 15px 20px;
    cursor: pointer;
    background-color: #fff;
}

.next-btn {
    left: 50%;
    bottom: 0;
    display: block;
}

.next-btn::before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 30px;

    border-top: 7px solid transparent;
    border-left: 15px solid black;
    border-bottom: 7px solid transparent;
}

.createbfs-btn {
    left: 20%;
    top: 0;
    transform: translateY(-50%);
    border-radius: 0;
}
.createdfs-btn {
    right: 50%;
    top: 0;
    transform: translate(50%, -50%);
    border-radius: 0;
}

.createSkelet-btn {
    right: 20%;
    top: 0;
    transform: translateY(-50%);
    border-radius: 0;
}

.next-btn:hover,
.createdfs-btn:hover,
.createbfs-btn:hover,
.createSkelet-btn:hover {
    background-color: #efefef;
}

.btn-active {
    background-color: rgb(72, 203, 72);
}

.btn-active:hover {
    background-color: rgb(22, 159, 22);
}
